.board{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    height: 400px;
    width: 400px;
    border: 5px solid black;
    cursor: url(./image/Paint_Brush.cur),auto;
    
}

.color_div{
    display: grid;
    grid-template-columns: auto auto;
    background-color: grey;
}
*{
    padding: 0%;
}

.board-item{
    background-color: white;
}

.header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Handwriting', cursive, sans-serif;
    font-size: 36px;
    margin-bottom: 25px;
}
.bo{
    border: 2px solid black;
    padding: 15px 10px 15px 10px;
    /* text-align: center;
    align-self: center; */
}

.body{
    display: flex;
    justify-content: space-around;
}